{% extends 'base.html' %}

{% block title %}{{ name }}{% endblock %}

{% block style %}
{% endblock %}

{% block pgtitle %}Happiness Breakdown for {{name}}{% endblock %}

{% block content %}
		{% for i in stats %}
			<center><h3>{{i}} : {{stats[i]}}</h3>
			{% if i in ranks %}
				({{ranks[i]}}th out of {{num}} countries)</center>
			{% endif %}
			<br>
		{% endfor %}
{% endblock %}

{% block script %}
		<script src="https://unpkg.com/topojson-client@3"></script>
		<script src="http://d3js.org/d3.v5.min.js"></script>
{% endblock %}
