{% extends 'base.html' %}

{% block title %}Happiness Graphs{% endblock %}

{% block style %}
	<style>
	.bar { fill: red; }
	</style>
{% endblock %}

{% block pgtitle %}Graphing the World's Happiness{% endblock %}

{% block content %}
		<br>
		<div class="container border rounded" style="background-color:white;">
			<div class="row">
				<div class="col">
					<form id="fChoice">
					  <input type="checkbox" id="economy" name="factor" value="economy">
					  <label for="economy" style="background-color:red;">economy</label><br>
						<input type="checkbox" id="family" name="factor" value="family">
					  <label for="family" style="background-color:yellow;">family</label><br>
						<input type="checkbox" id="health" name="factor" value="health">
					  <label for="health" style="background-color:purple;">health</label><br>
						<input type="checkbox" id="freedom" name="factor" value="freedom">
					  <label for="freedom" style="background-color:blue;">freedom</label><br>
						<input type="checkbox" id="trust" name="factor" value="trust">
					  <label for="trust" style="background-color:green;">trust</label><br>
						<input type="checkbox" id="generosity" name="factor" value="generosity">
					  <label for="generosity" style="background-color:orange;">generosity</label><br>
					</form>
					<button id="rFac">Render Factor</button>
				</div>
				<div class="col">
					<form id="rChoice">
					  <input type="checkbox" id="North America" name="regions" value="North America">
					  <label for="North America" style="background-color:green;">North America</label><br>
						<input type="checkbox" id="Western Europe" name="regions" value="Western Europe">
					  <label for="Western Europe" style="background-color:blue;">Western Europe</label><br>
						<input type="checkbox" id="Australia and New Zealand" name="regions" value="Australia and New Zealand">
					  <label for="Australia and New Zealand" style="background-color:red;">Australia and New Zealand</label><br>
						<input type="checkbox" id="Middle East and Northern Africa" name="regions" value="Middle East and Northern Africa">
					  <label for="Middle East and Northern Africa" style="background-color:yellow;">Middle East and Northern Africa</label><br>
						<input type="checkbox" id="Latin America and Caribbean" name="regions" value="Latin America and Caribbean">
					  <label for="Latin America and Caribbean" style="background-color:purple;">Latin America and Caribbean</label><br>
						<input type="checkbox" id="Southeastern Asia" name="regions" value="Southeastern Asia">
					  <label for="Southeastern Asia" style="background-color:pink;">Southeastern Asia</label><br>
						<input type="checkbox" id="Central and Eastern Europe" name="regions" value="Central and Eastern Europe">
					  <label for="Central and Eastern Europe" style="background-color:lightgreen;">Central and Eastern Europe</label><br>
						<input type="checkbox" id="Eastern Asia" name="regions" value="Eastern Asia">
					  <label for="Eastern Asia" style="background-color:lightblue;">Eastern Asia</label><br>
						<input type="checkbox" id="Sub-Saharan Africa" name="regions" value="Sub-Saharan Africa">
					  <label for="Sub-Saharan Africa" style="background-color:orange;">Sub-Saharan Africa</label><br>
						<input type="checkbox" id="Southern Asia" name="regions" value="Southern Asia">
					  <label for="Southern Asia" style="background-color:gray;">Southern Asia</label><br>
					</form>
					<button id="rReg">Render Region</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
					<div id="svg1" style="padding:20px;"></div>
			</div>
			<div class="col">
					<div id="svg2" style="padding:20px;"></div>
			</div>
		</div>
		<div class="row">
			<div class = "col">
				<div class="btn-group" role="group" aria-label="fDrop">
					<div class="dropdown" class="col">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="fDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose a factor to examine:</button>
					<div class="dropdown-menu" aria-labelledby="fDrop">
						<a class="dropdown-header">Factors</li>
						<a class="dropdown-item">economy</a>
						<a class="dropdown-item">family</a>
						<a class="dropdown-item">health</a>
						<a class="dropdown-item">freedom</a>
						<a class="dropdown-item">trust</a>
						<a class="dropdown-item">generosity</a>
						</div>
					</div>
					<button id="rFacDrop">Render</button>
				</div>
			</div>
			<div class = "col">
				<div class="btn-group" role="group" aria-label="rDrop">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="rDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose a region to examine:</button>
						<div class="dropdown-menu" aria-labelledby="rDrop">
							<a class="dropdown-header">Regions</li>
							<a class="dropdown-item" href="">North America</a>
							<a class="dropdown-item" href="">Western Europe</a>
							<a class="dropdown-item" href="">Australia and New Zealand</a>
							<a class="dropdown-item" href="">Middle East and Northern Africa</a>
							<a class="dropdown-item" href="">Latin America and Caribbean</a>
							<a class="dropdown-item" href="">Southeastern Asia</a>
							<a class="dropdown-item" href="">Central and Eastern Europe</a>
							<a class="dropdown-item" href="">Eastern Asia</a>
							<a class="dropdown-item" href="">Sub-Saharan Africa</a>
							<a class="dropdown-item" href="">Southern Asia</a>
						</div>
					</div>
					<button id="rRegDrop">Render</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
						<div id="svg3" style="padding:20px;"></div>
				</div>
				<div class="col">
						<div id="svg4" style="padding:20px;"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
		<script>
			data = {{data|tojson}}
		</script>
		<script src="https://unpkg.com/topojson-client@3"></script>
		<script src="http://d3js.org/d3.v5.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="static/js/graphs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}
