{% extends 'base.html' %}

{% block title %}Happiness Graphs{% endblock %}

{% block style %}
{% endblock %}

{% block pgtitle %}Graphing the World's Happiness{% endblock %}

{% block content %}
		<div id="svg-container"></div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="dropdown" class="col">
      		<button class="btn btn-secondary dropdown-toggle" type="button" id="factorDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose a factor to examine:</button>
      		<div class="dropdown-menu" aria-labelledby="factorDropdown">
        		<a class="dropdown-header">Factors</li>
        		<a class="dropdown-item" href="">Economic Production</a>
        		<a class="dropdown-item" href="">Social Support</a>
						<a class="dropdown-item" href="">Life Expectancy</a>
						<a class="dropdown-item" href="">Freedom</a>
						<a class="dropdown-item" href="">Absence of Corruption</a>
						<a class="dropdown-item" href="">Generosity</a>
    				</div>
    			</div>
				</div>
				<div class="col">
    			<div class="dropdown">
      		<button class="btn btn-secondary dropdown-toggle" type="button" id="regionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose a region to examine:</button>
      		<div class="dropdown-menu" aria-labelledby="regionDropdown">
        		<a class="dropdown-header">Regions</li>
        		<a class="dropdown-item" href="">North America</a>
        		<a class="dropdown-item" href="">Western Europe</a>
						<a class="dropdown-item" href="">Australia and New Zealand</a>
						<a class="dropdown-item" href="">Middle East and Northern Africa</a>
						<a class="dropdown-item" href="">Latin America and Caribbean</a>
						<a class="dropdown-item" href="">Southeastern Asia</a>
						<a class="dropdown-item" href="">Central and Eastern Europe</a>
						<a class="dropdown-item" href="">Eastern Asia</a>
						<a class="dropdown-item" href="">Sub-Saharan Africa</a>
						<a class="dropdown-item" href="">Southern Asia</a>
      		</div>
    		</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
		<script>
			data = {{data|tojson}}
		</script>
		<script src="https://unpkg.com/topojson-client@3"></script>
		<script src="http://d3js.org/d3.v5.min.js"></script>
		<script src="static/js/graphs.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
