{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block style %}
{% endblock %}

{% block pgtitle %}Help / FAQs{% endblock %}

{% block content %}
<br>
<div class="container text-center border rounded description" style="padding:20px;background-color:white;font-size:20px;">
  <b>What is this site for?</b>
  <p>The purpose of this site is to try to give information on happiness levels around the world. For more information check out our homepage.</p>
  <br>
  <b>I went to the map page but nothing is showing up. Why is that?</b>
  <p> Just click the render button under the map page and it should appear.</p>
  <br>
  <b>What else can I do on the map page?</b>
  <p>Our map is an interactive map! Feel free to click on any country that has data (ones that are any color but black) and you will be redirected to a page specifically for that country with more in depth statistics.</p>
  <br>
  <b>What do the individual numbers in the statistics on a country's page mean?</b>
  <p>The first number you will see on any country's page is its overall happiness score. This score is used to determine the color it will be on the map. All of the other numbers are the scores they get for each of the subcategories. Each of these subscores is used to determine the overall happiness score.</p>
  <br>
  <b>How do I work the graphs page?</b>
  <p>To create a graph you will first need to decide whether you want to compare different aspects in a region, or compare factor data across the world by pressing the corresponding button.
    Next you will need to decide whether you want a bar graph or a spider plot by, again, pressing the corresponding button. Once you've clicked the two buttons of your choosing either a drop down menu or a list of checkable items will appear depending on whether you chose a bar graph or a spider plot.
    This list will contain either a list of regions or a list of factors, depending on whether you chose to compare regional data or factor data. Choose one of the items on the list and then click render region. If you chose to do a spider plot you can actually click multiple boxes and compare multiple regions/factors at the same time.</p>
</div>
{% endblock %}

{% block script %}
{% endblock %}
