{% extends 'base.html' %}

{% block title %}World{% endblock %}

{% block style %}
{% endblock %}

{% block pgtitle %}Mapping the World's Happiness{% endblock %}

{% block content %}
		<div container style="text-align:center; padding:20px; padding-left:50px;"><h3>To view the happines map, click here:
			<button id="btn">Render</button></h3>
		</div>
		<div id="svg-container" style="padding:20px;"></div>
{% endblock %}

{% block script %}
		<script src="https://unpkg.com/topojson-client@3"></script>
		<script src="http://d3js.org/d3.v5.min.js"></script>
		<script src="static/js/maps.js"></script>
{% endblock %}
