<!DOCTYPE html>
<html lang="en">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      @font-face {
        font-family: myFirstFont;
        src: url(sansation_light.woff);
      }
      div {
        font-family: myFirstFont;
      }
      .description {
    		padding-top: 25px;
    		padding-bottom: 20px;
    		color:#10C135;
    		background-color:white;
    	}
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 50px;
      }
    </style>

    <head>
        <meta charset="UTF-8">
        <title>
            Home
        </title>
    </head>

    <body style="background-color:#D19C4C;">
      <font face="Bedrock">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <img src="/static/img/logo.jpg" width="45" height="45" alt="logo" style="padding:4px;">
          <a class="navbar-brand" href="#">JEeBerS: <i>The Happiness Project</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href={{ url_for('home') }}>Home</a>
                <a class="nav-item nav-link" href={{ url_for('map') }}>Happiness Map</a>
                <a class="nav-item nav-link" href={{ url_for('graphs') }}>Graphs</a>
                <a class="nav-item nav-link" href={{ url_for('help') }}>Help</a>
              </div>
            </div>
          </nav>

          <br>

          <div class="container text-center border rounded description">
            <h3>Our mission blah blah</h3>
            <img src="/static/img/people.jpg" width="40%" height="40%" class="center">
          </div>

          <br><br><br><br><br><br><br><br><br>

          <footer class="footer fixed-bottom bg-dark">
              <br>
              <div style="text-align: center">
                  <span class="text-muted">
                      &copy; JEeBerS 2020
                      <br>Emory Walsh, Sophie Nichol, Benjamin Avrahami, & Jacob Olin
                  </span>
              </div>
              <br>
          </footer>
        </font>
    </body>

    {% block script %}
    {% endblock %}

</html>
