{% extends 'base.html' %}

{% block title %}World{% endblock %}

{% block style %}
{% endblock %}

{% block pgtitle %}Mapping the World's Happiness{% endblock %}

{% block content %}
		<div id="instructions" container style="text-align:center; padding:20px; padding-left:50px;"><h3>To view the happiness map, click here:
			<button id="btn">Render</button></h3>
		</div>
		<div id="key" container style="display:none;">
			<h4><div class="row" style="text-allign:center;padding-left:30px;padding-top:30px;">
				<div class="col-sm" style="background-color:green;">
					Happiest Countries
				</div>
				<div class="col-sm" style="background-color:red;"">
					Least Happy Countries
				</div>
				<div class="col-sm" style="background-color:black;color:white;">
					 No Data Availible
				</div>
			</div></h4>
		</div>
		<div id="svg-container" style="padding:20px;"></div>
{% endblock %}

{% block script %}
		<script>
			data = {{data|tojson}}
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script src="https://unpkg.com/topojson-client@3"></script>
		<script src="http://d3js.org/d3.v5.min.js"></script>
		<script src="static/js/maps.js"></script>
{% endblock %}
